# Ignore Python virtual environments
.venv/
venv/

# Ignore Python bytecode and cache
__pycache__/
*.pyc

# Ignore logs and temporary files
*.log
/instance

# Ignore environment files
.env

# VS Code
.vscode/

# Custom
.DS_Store

# FAISS index
static/faiss_index/

# Ignore contents of the static/docs directory
static/docs/*.pdf

# Database
database.db