# Ignore Python virtual environments
.venv/
venv/

# Ignore Python bytecode and cache
__pycache__/
*.pyc

# Ignore logs and temporary files
*.log
/instance

# Ignore environment files
.env

# Ignore media files (if any)
*.mp4
*.pt

# Ignore generated vector store index
/static/faiss_index
